.url-link {
  font-size: 14px;
  color: #006621;
  margin-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.url-title-link {
  height: 20px;
  font-size: 18px;
  color: #1a0dab;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

/* Button-arrow CSS: */

.arrow {
  display: inline-block;
  height: 30px;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  line-height: 2.0em;
  padding-left: 9px;
  padding-right: 3px;
  background: #b7b3b3;
  color: #383636;
}
.arrow::after {
  content: "";
  border-left: 20px solid #b7b3b3;
  position: absolute;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  height: 0px;
  width: 0px;
  margin-right: -20px;
  right: 0;
}
